@import 'var'

.ArticleSnip
  .ArticleSnip--link
    color: #000
    text-decoration: none
    .ArticleSnip--title
      font-size: snip-size
      display: inline
      padding-bottom: 1px
    .ArticleSnip--title:hover
      font-style: italic
    .ArticleSnip--summernote
      .ArticleSnip--summernote-child
        word-break: break-all
  .ArticleSnip--link:hover
    cursor: pointer
    .ArticleSnip--title
      font-style: italic