@import 'keyframes'

#nav
  margin: 15px 0 0 0
  .nav-ul
    padding: 0
    text-align: center
    .nav-list
      display: inline-block
      width: 150px
      color: #000
      text-align: center
      margin: 0 0 0 -4px
      padding: 4px 0 0 0
      cursor: pointer
      border-right: 1px solid #000
      height: 30px
      transition: .2s background-color color
      a 
      	color: #000
      	vertical-align: middle
      	cursor: pointer
      	transition: .2s color
      	text-decoration: none
      	i
      	  margin: 0 5px 0 0
      a:hover
        color: #fff
        text-decoration: none
      a:focus
        color: #000
        text-decoration: none
      a:clicked
        color: #000
        text-decoration: none
    .nav-list-last
      border: none
    .nav-list:hover
      background-color: #BF2416
      a
        color: #fff
