@import 'var'

.pending-article-title
  margin: 25px 0 10px 0
  font-size: title-size
  font-family: serif-fonts
.pending-article-body
  font-size: 21px
  line-height: 26px
  line-height: 1.625em
  letter-spacing: .02em
  font-weight: 400
  font-style: normal
  font-family: serif-fonts
  letter-spacing: 1px
  p
    font-family: serif-fonts !important
    font-weight: 400
    letter-spacing: .02em
    font-size: 21px