serif-fonts = 'Playfair Display', Times New Roman, serif
title-size = 42px
snip-size = 20px

red = #de4f4f;
blue = #1b66ff;
dblue = #19283f;
grey = #f7f7f7;
dgrey = #CCC;
black = #27272b;

text = black;
action = red;
accent = blue;
nav = dblue;